<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="user-data" ngModelGroup="userdata" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">UserName</label>
            <input type="text" id="username" class="form-control" [ngModel]="name" name="username" required />
          </div>
          <button class="btn btn-default" type="button" (click)="SuggestUsername()">Suggest an Username</button>
          <div class="form-group">
            <label for="Mail">E-Mail</label>
            <input type="email" id="Mail" class="form-control" [ngModel]="mail" name="Mail" required email
              #email="ngModel" />
          </div>
          <span class="help-block" *ngIf="!userData.valid && userData.touched">Please Enter a valid userData</span>
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email !!</span>
        </div>
        <div class="form-group">
          <label for="secret">Secret Question</label>
          <select id="secret" class="form-control" ngModel name="secret" required>
            <option value="pet">Your First Pet</option>
            <option value="teacher">Your Firat Teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" required name="questionAnswer" [(ngModel)]="answer"></textarea>
        </div>
        <span class="help-block">Your Reply Is: {{answer}}</span>
        <div class="form-group" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" required ngModel [value]="gender">
            {{gender}}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr/>
  <div class="row" *ngIf="Submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{usersData.username}}</p>
      <p>Mail: {{usersData.Mail}}</p>
      <p>Secret Question: {{usersData.secret}}</p>
      <p>Answer: {{usersData.questionAnswer}}</p>
      <p>gender: {{usersData.gender}}</p>
    </div>
  </div>
</div>


<div clas="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #randomForm="ngForm" (ngSubmit)="onSubmitRandom(randomForm)">
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" name="email" class="form-control" required ngModel #Email="ngModel">
        </div>
        <span *ngIf="!Email.valid && Email.touched">Please enter an proper email address</span>
        <div class="form-group">
          <label for="Subscription">Subscription</label>
          <select name="Subscription" id="Subscription" class="form-control" required ngModel #subscription="ngModel">
            <option value="basic">Basic</option>
            <option value="Advanced">Advanced</option>
            <option value="Pro">Pro</option>
          </select>
        </div>
        <span *ngIf="!subscription.valid && subscription.touched" class="help-block">Please select a Subscription</span>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" required ngModel #password="ngModel">
        </div>
        <span *ngIf="!password.valid && password.touched" class="help-block">Please enter a password</span>
        <button class="btn btn-primary" [disabled]="!randomForm.valid" type="submit">Submit</button>
      </form>
      <span *ngIf="!randomForm.valid && randomForm.touched">Please Fill all the fields</span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>